/* Свойства левой колонки с размерами, цветом и расположением */
.two-columns__brief {
    color:#2f80ed;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-style: normal;
    margin: 0;
    font-weight: normal;
  }