/* Свойства заголовка таблицы блока kaufman с размерами и расположением */
.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    padding-top: 80px;
    margin: 0;
  }