/* Совйства вывода в тексте с обнулением свойств браузера */
.two-columns__paragraph:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
    margin-block-start: 0;
    margin: 0;
  }
  
  /* Совйства вывода в тексте с обнулением свойств браузера */
  .two-columns__paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-block-start: 0;
    margin: 0;
  }
  
  /* Совйства вывода в тексте с обнулением свойств браузера */
  .two-columns__paragraph:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
    margin-block-start: 0;
    margin: 0;
  }