/* Свойства колонки с логотипом и автором с указанными размерами и расположением */
.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }